<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="PosTest.PosTestSvc" behaviorConfiguration="PosTest.DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:18793/PostTest"/>
					</baseAddresses>
				</host>
				<endpoint address="DeploymentDefault" binding="netTcpBinding" bindingConfiguration="tcpbind" contract="PosTest.IPosTestSvc" />
				<endpoint address="net.tcp://localhost:18794/PostTest/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="tcpbind" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxConnections="200" listenBacklog="200">					
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="PosTest.DefaultBehavior">
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>