<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPosTestSvc">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://MYLENOVO:18793/PostTest/DeploymentDefault"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPosTestSvc"
                contract="WcfSvcRef.IPosTestSvc" name="NetTcpBinding_IPosTestSvc">
                <identity>
                    <userPrincipalName value="MYLENOVO\hisho" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>